// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

//Color

$homeButtonColor: #2b2b2b;
$homeButtonColor2: #2b2b2b;
$socialIcons: #03e9f4;

//Mixins-Color

@mixin PageTitle1 {
	font-size: 45px;
	color: white;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
}

@mixin PageTitle2 {
	font-size: 30px;
	color: $socialIcons;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.7px;
}

::selection {
	// background-color: rgb(0, 0, 0);
	color: #03e9f4;
}

html {
	overflow-x: hidden;
}

body {
	background-color: #000000 !important;
	overflow-x: hidden;
}

nav {
	padding: 15px 80px;
	animation: animNav 0.8s ease;
	.navbar-brand {
		font-size: 28px;
		color: white !important;
		font-family: 'Montserrat', sans-serif;
		b {
			font-family: 'Montserrat', sans-serif;
			font-weight: 800;
			transition: 0.3s all linear;
			&:hover {
				color: #03e9f4;
			}
		}
	}
	.navbar-nav {
		margin-left: auto;
		.nav-item {
			margin: 20px;
			font-size: 20px;
			font-family: 'Montserrat', sans-serif;
			a {
				color: white;
				text-decoration: none;
				--webkit-transition: 0.2s ease;
				line-height: 30px;
				letter-spacing: 0.03em;
				transition: 0.3s all linear;
				&:hover {
					color: #03e9f4;
					// text-decoration: none;
				}
			}
		}
	}
}
nav.fixed {
	padding: 15px 80px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	backdrop-filter: blur(10px);
	background-color: #000000cf;
	box-shadow: 0 5px 15px #0c0c0cde;
}

// about

.aboutInfo {
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	padding: 90px 80px 0 80px;
	.wrapper {
		display: flex;
		justify-content: space-between;
	}
	.side1 {
		width: 55%;
		margin: 20px 0 0 0;
		.name {
			font-size: 70px;
			font-family: 'Montserrat', sans-serif;
			color: white;
			font-weight: 700;
		}
		.info {
			width: 75%;
			color: #aaaaaa;
			font-size: 20px;
			margin: 15px 3px 60px 0;
			font-family: 'Montserrat', sans-serif;
		}
		.buttons {
			.linkBtn {
				background-color: $homeButtonColor;
				padding: 20px 40px;
				color: white;
				font-size: 20px;
				text-decoration: none;
				font-weight: 500;
				font-family: 'Montserrat', sans-serif;
				&:nth-child(2) {
					margin-left: 15px;
					color: white;
					&:hover {
						color: black;
					}
				}
			}

			a {
				position: relative;
				display: inline-block;
				color: #03e9f4;
				text-decoration: none;
				text-transform: uppercase;
				transition: 0.5s;
				letter-spacing: 4px;
				overflow: hidden;
			}
			a:hover {
				background: #03e9f4;
				color: #050801;
				// box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
				// 	0 0 200px #03e9f4;
				// -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);

				// TEST
				box-shadow: 0 0 5px #03e9f4, 0 0 0 #03e9f4, 0 0 0 #03e9f4,
					0 0 200px #03e9f4;
				-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
			}
			// a:nth-child(1) {
			// 	filter: hue-rotate(270deg);
			// }
			a:nth-child(2) {
				filter: hue-rotate(310deg);
			}
			a span {
				position: absolute;
				display: block;
			}
			a span:nth-child(1) {
				top: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background: linear-gradient(90deg, transparent, #03e9f4);
				animation: animate1 1s linear infinite;
			}
			@keyframes animate1 {
				0% {
					left: -100%;
				}
				50%,
				100% {
					left: 100%;
				}
			}
			a span:nth-child(2) {
				top: -100%;
				right: 0;
				width: 2px;
				height: 100%;
				background: linear-gradient(180deg, transparent, #03e9f4);
				animation: animate2 1s linear infinite;
				animation-delay: 0.25s;
			}
			@keyframes animate2 {
				0% {
					top: -100%;
				}
				50%,
				100% {
					top: 100%;
				}
			}
			a span:nth-child(3) {
				bottom: 0;
				right: 0;
				width: 100%;
				height: 2px;
				background: linear-gradient(270deg, transparent, #03e9f4);
				animation: animate3 1s linear infinite;
				animation-delay: 0.5s;
			}
			@keyframes animate3 {
				0% {
					right: -100%;
				}
				50%,
				100% {
					right: 100%;
				}
			}

			a span:nth-child(4) {
				bottom: -100%;
				left: 0;
				width: 2px;
				height: 100%;
				background: linear-gradient(360deg, transparent, #03e9f4);
				animation: animate4 1s linear infinite;
				animation-delay: 0.75s;
			}
			@keyframes animate4 {
				0% {
					bottom: -100%;
				}
				50%,
				100% {
					bottom: 100%;
				}
			}
		}
		.socialNet {
			margin-top: 70px;
			.links {
				padding: 0 30px 0 0;
				.socialIcon {
					font-size: 35px;
					color: #ffffff;
					transition: all 0.25s linear 0s;
					&:hover {
						color: $socialIcons;
						transform: scale(1.4);
					}
				}
			}
		}
	}
	.side2 {
		width: 33%;
		// background-color: red;
		.myImage {
			width: 100%;
			display: flex;
			margin-left: auto;
			height: 100%;
			// border-radius: 50%;
		}
	}
}

//Portfolio

.titles {
	text-align: center;
	margin-top: 75px;
	.title1 {
		@include PageTitle1();
	}
	.title2 {
		@include PageTitle2();
	}
}

.row {
	.col-md-12 {
		padding-top: 50px;
		.projectCard {
			display: flex;
			justify-content: space-between;
			margin: 50px 0;
			.projectImage {
				width: 50%;
			}
			.projectInfo {
				margin: 30px 50px;
				.projectAbout {
					.projectName {
						color: #ffffff;
						font-weight: 600;
						font-family: 'Montserrat', sans-serif;
					}
					.projectDesc {
						color: #aaaaaa;
						margin: 10px 0 50px;
						font-family: 'Montserrat', sans-serif;
					}
				}
				.projectButtons {
					.buttons {
						background-color: #2b2b2b;
						padding: 17px 35px;
						color: #ffffff;
						font-size: 20px;
						text-decoration: none;
						font-family: 'Montserrat', sans-serif;
						font-weight: 500;
						svg {
							margin: 0 10px 0;
						}
						&:nth-child(2) {
							background-color: $socialIcons;
							color: #000000;
							margin-left: 30px;
						}
					}
				}
			}
		}
		// &:nth-child(2) {
		// 	.projectCard {
		// 		flex-direction: row-reverse;
		// 		.projectInfo {
		// 			margin: 30px 0;
		// 			.projectAbout {
		// 				.projectDesc {
		// 					width: 75%;
		// 				}
		// 			}
		// 		}
		// 	}
		// }
	}
}

//AboutMe

.aboutMeMain {
	// display: flex;
	padding: 80px;
	.firstData {
		display: flex;
		.myPhoto {
			height: 30% !important;
			width: 30%;
			border-radius: 40px;
			background-color: red;
		}
		span {
			.aboutMeText {
				padding: 0 0 30px 50px;
				font-size: 23px;
				width: 95%;
				color: white;
				font-family: 'Montserrat', sans-serif;
			}
		}
	}
	.secondData {
		width: 100%;
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
		.withTeacher {
			width: 30% !important;
			height: 50%;
			border-radius: 40px;
		}
		.commentText {
			color: whitesmoke;
			font-size: 17px;
			font-weight: 400;
			margin-top: 30px;
			// background-color: rgb(167, 167, 162);
			// padding: 20px 0;
			// box-sizing: border-box;
		}
	}
}

// Footer

.footer {
	padding: 20px 0 0;
	border-top: 1px solid #666666;
	text-align: center;
	p {
		font-size: 17px;
		color: white;
		font-family: 'Montserrat', sans-serif;
		svg {
			color: rgb(255, 0, 0);
		}
	}
}
