// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

//Color

$homeButtonColor: #2b2b2b;
$homeButtonColor2: #2b2b2b;
$socialIcons: #03e9f4;

//Mixins-Color

@mixin PageTitle1 {
	font-size: 45px;
	color: white;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
}

@mixin PageTitle2 {
	font-size: 30px;
	color: $socialIcons;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.7px;
}

::selection {
	// background-color: rgb(0, 0, 0);
	color: #03e9f4;
}

html {
	overflow-x: hidden;
}

body {
	background-color: #000000 !important;
	overflow-x: hidden;
}

nav {
	padding: 15px 80px;
	animation: animNav 0.8s ease;
	.navbar-brand {
		font-size: 28px;
		color: white !important;
		font-family: 'Montserrat', sans-serif;
		b {
			font-family: 'Montserrat', sans-serif;
			font-weight: 800;
			transition: 0.3s all linear;
			&:hover {
				color: #03e9f4;
			}
		}
	}
	.navbar-nav {
		margin-left: auto;
		.nav-item {
			margin: 20px;
			font-size: 20px;
			font-family: 'Montserrat', sans-serif;
			position: relative;
			&::after {
				cursor: pointer;
				content: '';
				width: 0;
				height: 2px;
				display: block;
				background-color: $socialIcons;
				transition: 0.3s linear;
				position: absolute;
				left: 50%;
			}
			&:hover::after {
				width: 50%;
				cursor: pointer;
			}
			&::before {
				cursor: pointer;
				content: '';
				width: 0;
				height: 2px;
				display: block;
				background-color: $socialIcons;
				transition: 0.3s linear;
				position: absolute;
				bottom: -2px;
				right: 50%;
			}
			&:hover::before {
				width: 50%;
				cursor: pointer;
			}
			a {
				color: white;
				text-decoration: none;
				--webkit-transition: 0.2s ease;
				line-height: 30px;
				letter-spacing: 0.03em;
				transition: 0.3s all linear;
				&:hover {
					color: #03e9f4;
					// text-decoration: none;
				}
			}
		}
	}
}

// about

.aboutInfo {
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	padding: 150px 80px 0 80px;
	.side1 {
		width: 55%;
		margin: 20px 0 0 0;
		.name {
			font-size: 70px;
			font-family: 'Montserrat', sans-serif;
			color: white;
			font-weight: 700;
		}
		.info {
			width: 75%;
			color: #aaaaaa;
			font-size: 20px;
			margin: 15px 3px 60px 0;
			font-family: 'Montserrat', sans-serif;
		}
		.buttons {
			.linkBtn {
				background-color: $homeButtonColor;
				padding: 20px 40px;
				color: white;
				font-size: 20px;
				text-decoration: none;
				font-weight: 500;
				font-family: 'Montserrat', sans-serif;
				&:nth-child(2) {
					margin-left: 15px;
					color: white;
					&:hover {
						color: black;
					}
				}
			}

			a {
				position: relative;
				display: inline-block;
				color: #03e9f4;
				text-decoration: none;
				text-transform: uppercase;
				transition: 0.5s;
				letter-spacing: 4px;
				overflow: hidden;
			}
			a:hover {
				background: #03e9f4;
				color: #050801;
				// box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
				// 	0 0 200px #03e9f4;
				// -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);

				// TEST
				box-shadow: 0 0 5px #03e9f4, 0 0 0 #03e9f4, 0 0 0 #03e9f4,
					0 0 200px #03e9f4;
				-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
			}
			// a:nth-child(1) {
			// 	filter: hue-rotate(270deg);
			// }
			a:nth-child(2) {
				filter: hue-rotate(310deg);
			}
			a span {
				position: absolute;
				display: block;
			}
			a span:nth-child(1) {
				top: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background: linear-gradient(90deg, transparent, #03e9f4);
				animation: animate1 1s linear infinite;
			}
			@keyframes animate1 {
				0% {
					left: -100%;
				}
				50%,
				100% {
					left: 100%;
				}
			}
			a span:nth-child(2) {
				top: -100%;
				right: 0;
				width: 2px;
				height: 100%;
				background: linear-gradient(180deg, transparent, #03e9f4);
				animation: animate2 1s linear infinite;
				animation-delay: 0.25s;
			}
			@keyframes animate2 {
				0% {
					top: -100%;
				}
				50%,
				100% {
					top: 100%;
				}
			}
			a span:nth-child(3) {
				bottom: 0;
				right: 0;
				width: 100%;
				height: 2px;
				background: linear-gradient(270deg, transparent, #03e9f4);
				animation: animate3 1s linear infinite;
				animation-delay: 0.5s;
			}
			@keyframes animate3 {
				0% {
					right: -100%;
				}
				50%,
				100% {
					right: 100%;
				}
			}

			a span:nth-child(4) {
				bottom: -100%;
				left: 0;
				width: 2px;
				height: 100%;
				background: linear-gradient(360deg, transparent, #03e9f4);
				animation: animate4 1s linear infinite;
				animation-delay: 0.75s;
			}
			@keyframes animate4 {
				0% {
					bottom: -100%;
				}
				50%,
				100% {
					bottom: 100%;
				}
			}
		}
		.socialNet {
			margin-top: 70px;
			.links {
				padding: 0 30px 0 0;
				.socialIcon {
					font-size: 40px;
					color: #ffffff;
					transition: all 0.25s linear 0s;
					&:hover {
						color: $socialIcons;
						transform: scale(1.3);
					}
				}
			}
		}
	}
	.side2 {
		width: 33%;
		// background-color: red;
		margin-left: auto;
		.myImage {
			width: 100%;
			border-radius: 50%;
		}
	}
}

//Portfolio

.titles {
	text-align: center;
	margin-top: 150px;
	.title1 {
		@include PageTitle1();
	}
	.title2 {
		@include PageTitle2();
	}
}

.row {
	.col-md-12 {
		padding-top: 50px;
		.projectCard {
			display: flex;
			justify-content: space-between;
			margin: 50px 0;
			.projectImage {
				width: 50%;
			}
			.projectInfo {
				margin: 30px 50px;
				.projectAbout {
					.projectName {
						color: #ffffff;
						font-weight: 600;
						font-family: 'Montserrat', sans-serif;
					}
					.projectDesc {
						color: #aaaaaa;
						margin: 10px 0 50px;
						font-family: 'Montserrat', sans-serif;
					}
				}
				.projectButtons {
					.buttons {
						background-color: #2b2b2b;
						padding: 17px 35px;
						color: #ffffff;
						font-size: 20px;
						text-decoration: none;
						font-family: 'Montserrat', sans-serif;
						font-weight: 500;
						svg {
							margin: 0 10px 0;
						}
						&:nth-child(2) {
							background-color: $socialIcons;
							color: #000000;
							margin-left: 30px;
						}
					}
				}
			}
		}
	}
}

//AboutMe

.aboutMeMain {
	padding: 80px;
	.firstData {
		display: flex;
		.myPhoto {
			height: 30% !important;
			width: 30%;
		}
		span {
			.aboutMeText {
				padding: 0 0 30px 50px;
				font-size: 23px;
				width: 95%;
				color: white;
				font-family: 'Montserrat', sans-serif;
			}
		}
	}
}

// Activity
.ActivityMain {
	font-family: 'Montserrat', sans-serif;
	padding: 60px 80px;
	.title {
		text-transform: capitalize;
		font-size: 40px;
		color: white;
		font-weight: bold;
		letter-spacing: 2px;
		text-align: center;
	}
	.subtitle {
		font-size: 25px;
		color: #17f354;
		font-weight: bold;
		text-align: center;
		margin-top: 10px;
	}
	.photoWrapper {
		width: 100%;
		height: 100%;
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
		.photoOne,
		.photoTwo {
			width: 100% !important;
			height: 100%;
			padding: 0 20px 0 0;
			box-sizing: border-box;
		}
		.commentText {
			color: whitesmoke;
			font-size: 17px;
			font-weight: 400;
			margin-top: 10px;
		}
	}
}

//Blog
.blogWrapper {
	width: 77% !important;
	margin: 40px auto;
	.blog {
		margin-top: 15px;
		.blogDef {
			color: white;
			font-size: 22px;
			margin: 0 auto 40px auto !important;
			&::before {
				content: 'Eslatma: ';
				color: red;
				font-size: 26px;
				font-weight: bold;
			}
		}
		.link {
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #17f354;
			font-size: 24px;
			text-decoration: none;
			margin: 10px 0;
			font-family: 'Montserrat', sans-serif;
			padding: 20px;
			box-sizing: border-box;
			border-top: 1px solid rgba($color: #ffffff, $alpha: 0.8);
			transition: 0.5s all ease;
			&:last-child {
				border-bottom: 0.7px solid rgba($color: #ffffff, $alpha: 0.8);
			}
			&:hover {
				color: #03e9f4;
				box-shadow: 4.3px 4.3px 4.3px 4.3px rgba($color: #ffffff, $alpha: 0.8);
				transition: 0.8s all;
				transform: scale(1.009);
				.next {
					display: block;
					transform: translateX(0);
					color: #03e9f4;
				}
			}
			.date {
				color: white;
				opacity: 0.7;
				font-size: 18px;
			}
		}
		.next {
			transition: 0.6s;
			color: #17f354;
			font-size: 35px;
			font-weight: bold;
			transform: translateX(-25px);
			margin-left: 60px;
		}
	}
}

// Footer

.footer {
	padding: 20px 0 0;
	border-top: 1px solid #666666;
	text-align: center;
	p {
		font-size: 17px;
		color: white;
		font-family: 'Montserrat', sans-serif;
		svg {
			color: rgb(255, 0, 0);
		}
	}
	a {
		color: white;
		margin-left: 5px;
		text-decoration: none;
		font-weight: bold;
		&:hover {
			color: $socialIcons;
		}
	}
}
