$homeButtonColor: #2b2b2b;
$homeButtonColor2: #2b2b2b;
$togglerColor: #03e9f4;

// HomePage

@media screen and (max-width: 1200px) {
	nav {
		padding: 12px !important;
		.navbar-brand {
			font-size: 22px;
			padding: 0 10px;
		}
		.navbar-toggler {
			background-color: $togglerColor;
			border-radius: 0;
			span {
				font-size: 13px;
			}
		}
		.navbar-nav {
			.nav-item {
				margin: 17px 20px !important;
				font-size: 18px !important;
			}
		}
	}
	.aboutInfo {
		display: flex;
		padding: 75px 25px;
		.side2 {
			width: 40%;
			.myImage {
				width: 100%;
			}
		}
		.side1 {
			width: 60%;
			margin: 0;
			.name {
				font-size: 50px;
				font-weight: 700;
			}
			.info {
				font-size: 25px;
				width: 90%;
				margin: 24px 0 25px 0;
			}
			.buttons {
				margin-top: 40px;
				.linkBtn {
					padding: 15px 18px;
					font-size: 20px;
				}
			}
			.socialNet {
				margin-top: 80px;
				.links {
					.socialIcon {
						font-size: 35px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	nav {
		padding: 12px !important;
		.navbar-brand {
			font-size: 22px;
			padding: 0 10px;
		}
		.navbar-toggler {
			background-color: $togglerColor;
			border-radius: 0;
			span {
				font-size: 13px;
			}
		}
		.navbar-nav {
			.nav-item {
				margin: 17px 20px !important;
				font-size: 18px !important;
			}
		}
	}
	.aboutInfo {
		display: flex;
		padding: 75px 25px;
		.side2 {
			width: 40%;
			.myImage {
				width: 100%;
			}
		}
		.side1 {
			width: 60%;
			margin: 0;
			.name {
				font-size: 30px;
			}
			.info {
				font-size: 22px;
				width: 100%;
				margin: 24px 0 25px 0;
			}
			.buttons {
				.linkBtn {
					padding: 12px 18px;
					font-size: 20px;
				}
			}
			.socialNet {
				margin-top: 30px;
				.links {
					.socialIcon {
						font-size: 35px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	nav {
		padding: 10px !important;
		.navbar-brand {
			font-size: 25px;
			padding: 0;
		}
		.navbar-toggler {
			background-color: $togglerColor;
			border-radius: 0;
			span {
				font-size: 18px;
			}
		}
		.navbar-nav {
			.nav-item {
				margin: 17px auto !important;
				font-size: 17px !important;
			}
		}
	}
	.aboutInfo {
		display: inline;
		text-align: center;
		// padding: 30px 0 30px 0;
		.side2 {
			width: 100% !important;
			margin: 0 auto;
			.myImage {
				width: 65%;
				height: 100%;
			}
		}
		.side1 {
			width: 100%;
			.name {
				font-size: 34px;
			}
			.info {
				font-size: 25px;
				width: 100%;
				padding: 0 15px;
				margin: 25px 0 25px;
			}
			.buttons {
				.linkBtn {
					padding: 15px 25px;
					font-size: 20px;
				}
			}
			.socialNet {
				.links {
					padding: 0 10px 0 10px;
					.socialIcon {
						font-size: 45px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 500px) {
	nav {
		padding: 12px !important;
		.navbar-brand {
			font-size: 18px;
			padding: 0;
		}
		.navbar-toggler {
			background-color: $togglerColor;
			border-radius: 0;
			span {
				font-size: 13px;
			}
		}
		.navbar-nav {
			.nav-item {
				margin: 17px auto !important;
				font-size: 17px !important;
			}
		}
	}
	.aboutInfo {
		display: inline;
		text-align: center;
		.side2 {
			width: 100% !important;
			margin: 0 auto;
			.myImage {
				width: 70%;
				height: 100%;
			}
		}
		.side1 {
			width: 100%;
			.name {
				font-size: 34px;
			}
			.info {
				font-size: 18px;
				width: 100%;
				padding: 0 15px;
				margin: 15px 0 25px;
			}
			.buttons {
				.linkBtn {
					padding: 13px 13px;
					font-size: 15px;
				}
			}
			.socialNet {
				.links {
					padding: 0 10px 0 10px;
					.socialIcon {
						font-size: 35px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 370px) {
	nav {
		padding: 12px !important;
		.navbar-brand {
			font-size: 18px;
			padding: 0;
		}
		.navbar-toggler {
			background-color: $togglerColor;
			border-radius: 0;
			width: 36px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0;
			span {
				font-size: 10px;
			}
		}
		.navbar-nav {
			.nav-item {
				margin: 17px auto !important;
				font-size: 17px !important;
			}
		}
	}
	.aboutInfo {
		display: inline;
		// padding: 30px 0 30px 0;
		text-align: center;
		.side2 {
			width: 100% !important;
			margin: 0 auto;
			.myImage {
				width: 85%;
				height: 100%;
			}
		}
		.side1 {
			width: 100%;
			.name {
				font-size: 30px;
			}
			.info {
				font-size: 18px;
				width: 100%;
				padding: 0 15px;
				margin: 15px 0 25px;
			}
			.buttons {
				.linkBtn {
					padding: 8px 8px;
					font-size: 13px;
				}
			}
			.socialNet {
				.links {
					// padding: 0 10px 0 10px;
					.socialIcon {
						font-size: 30px;
					}
				}
			}
		}
	}
}

@media (min-width: 320px) and (max-width: 330px) {
	nav {
		padding: 12px !important;
		.navbar-brand {
			font-size: 18px;
			padding: 0;
		}
		.navbar-toggler {
			background-color: $togglerColor;
			border-radius: 0;
			span {
				font-size: 13px;
			}
		}
		.navbar-nav {
			.nav-item {
				margin: 17px auto !important;
				font-size: 17px !important;
			}
		}
	}
	.aboutInfo {
		display: inline;
		text-align: center;
		.side2 {
			width: 100% !important;
			margin: 0 auto;
			.myImage {
				width: 90%;
				height: 100%;
			}
		}
		.side1 {
			width: 100%;
			.name {
				font-size: 34px;
			}
			.info {
				font-size: 18px;
				width: 100%;
				padding: 0 15px;
				margin: 15px 0 25px;
			}
			.buttons {
				.linkBtn {
					padding: 10px 10px;
					font-size: 15px;
				}
			}
			.socialNet {
				.links {
					padding: 0 10px 0 10px;
				}
			}
		}
	}
}

// PortfolioPage

@media screen and (max-width: 1200px) {
	.titles {
		.title1 {
			font-size: 35px;
		}
		.title2 {
			font-size: 25px;
		}
	}
	.row {
		margin-top: 30px;
		.col-md-12 {
			padding-top: 50px;
			.projectCard {
				display: flex;
				margin: 10px 0;
				.projectImage {
					width: 50%;
				}
				.projectInfo {
					margin: 0;
					margin-left: 30px;
					// background-color: red;
					.projectAbout {
						.projectName {
							font-size: 25px;
						}
						.projectDesc {
							// width: 100%;
							font-size: 19px;
							display: flex;
							justify-content: space-between;
							margin: 10px 0 20px;
						}
					}
					.projectButtons {
						display: flex;
						justify-content: space-between;
						.buttons {
							padding: 14px 15px;
							font-size: 16px;
							display: flex;
							&:nth-child(2) {
								margin-left: 7px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.titles {
		.title1 {
			font-size: 35px;
		}
		.title2 {
			font-size: 25px;
		}
	}
	.row {
		margin-top: 30px;
		.col-md-12 {
			padding-top: 10px;
			.projectCard {
				display: inline;
				margin: 10px 0;
				.projectImage {
					width: 100%;
				}
				.projectInfo {
					margin: 30px 0;
					.projectAbout {
						.projectName {
							font-size: 25px;
						}
						.projectDesc {
							// width: 100%;
							font-size: 19px;
							display: flex;
							justify-content: space-between;
							margin: 10px 0 20px;
						}
					}
					.projectButtons {
						display: flex;
						justify-content: space-between;
						.buttons {
							padding: 14px 15px;
							font-size: 16px;
							display: flex;
							&:nth-child(2) {
								margin-left: 7px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.titles {
		.title1 {
			font-size: 35px;
		}
		.title2 {
			font-size: 25px;
		}
	}
	.row {
		margin-top: 30px;
		.col-md-12 {
			padding: 10px 0;
			.projectCard {
				display: inline;
				margin: 10px 0;
				.projectImage {
					width: 100%;
				}
				.projectInfo {
					margin: 30px 10px;
					.projectAbout {
						.projectName {
							font-size: 25px;
						}
						.projectDesc {
							font-size: 19px;
							margin: 10px 0 20px;
						}
					}
					.projectButtons {
						display: flex;
						justify-content: space-between;
						.buttons {
							padding: 14px 15px;
							font-size: 16px;
							display: flex;
							&:nth-child(2) {
								margin-left: 7px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.titles {
		padding: 0 10px;
		.title1 {
			font-size: 35px;
		}
		.title2 {
			font-size: 25px;
		}
	}
	.row {
		margin-top: 30px;
		.col-md-12 {
			padding-top: 10px;
			.projectCard {
				display: inline;
				margin: 10px 0;
				.projectImage {
					width: 100%;
				}
				.projectInfo {
					margin: 30px 10px;
					.projectAbout {
						.projectName {
							font-size: 25px;
						}
						.projectDesc {
							// width: 100%;
							font-size: 19px;
							display: flex;
							justify-content: space-between;
							margin: 10px 0 20px;
						}
					}
					.projectButtons {
						display: flex;
						justify-content: space-between;
						.buttons {
							padding: 14px 15px;
							font-size: 16px;
							display: flex;
							&:nth-child(2) {
								margin-left: 7px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 370px) {
	.titles {
		padding: 0 10px;
		.title1 {
			font-size: 34px;
		}
		.title2 {
			font-size: 22px;
		}
	}
	.row {
		margin-top: 30px;
		.col-md-12 {
			padding-top: 10px;
			.projectCard {
				display: inline;
				margin: 10px 0;
				.projectImage {
					width: 100%;
				}
				.projectInfo {
					margin: 30px 10px;
					.projectAbout {
						.projectName {
							font-size: 20px;
						}
						.projectDesc {
							font-size: 16px;
							margin: 10px 0 20px;
						}
					}
					.projectButtons {
						display: flex;
						justify-content: space-between;
						.buttons {
							padding: 12px 14px;
							font-size: 15px;
							display: flex;
							&:nth-child(2) {
								margin-left: 7px;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 320px) and (max-width: 330px) {
	.titles {
		padding: 0 10px;
		.title1 {
			font-size: 32px;
		}
		.title2 {
			font-size: 20px;
		}
	}
	.row {
		margin-top: 30px;
		.col-md-12 {
			padding-top: 10px;
			.projectCard {
				display: inline;
				margin: 10px 0;
				.projectImage {
					width: 100%;
				}
				.projectInfo {
					margin: 30px 10px;
					.projectAbout {
						.projectName {
							font-size: 22px;
						}
						.projectDesc {
							font-size: 17px;
							display: flex;
							justify-content: space-between;
							margin: 10px 0 20px;
						}
					}
					.projectButtons {
						display: flex;
						justify-content: space-between;
						.buttons {
							padding: 12px 17px;
							font-size: 16px;
							&:nth-child(2) {
								margin-left: 0;
							}
						}
					}
				}
			}
		}
	}
}

// AboutMePAge

@media screen and (max-width: 1200px) {
	.aboutMeMain {
		padding: 10px 30px;
		.firstData {
			display: flex;
			.myPhoto {
				width: 40%;
				display: flex;
				margin: 0 auto;
			}
			span {
				.aboutMeText {
					margin-top: 20px;
					margin-left: 30px;
					padding: 0;
					font-size: 22px;
				}
			}
		}
		.graduation {
			font-size: 30px;
		}
		.secondData {
			margin: 35px 0;
			display: flex;
			&:nth-child(2) {
				padding: 0 !important;
			}
			.commentText {
				font-size: 20px;
				margin-top: 5px;
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.aboutMeMain {
		padding: 10px 30px;
		.firstData {
			display: inline;
			.myPhoto {
				display: flex;
				margin: 0 auto;
			}
			span {
				.aboutMeText {
					margin-top: 20px;
					padding: 0;
					font-size: 22px;
					width: 100%;
				}
			}
		}
		.graduation {
			font-size: 30px;
		}
		.secondData {
			margin-top: 35px;
			display: inline;
			.withTeacher,
			.withGroup {
				padding: 0;
				margin-top: 20px;
			}
			.commentText {
				font-size: 20px;
				margin-top: 5px;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.aboutMeMain {
		padding: 10px 30px;
		.firstData {
			display: inline;
			.myPhoto {
				width: 100%;
				display: flex;
				margin: 0 auto;
			}
			span {
				.aboutMeText {
					margin-top: 20px;
					padding: 0;
					font-size: 22px;
					width: 100%;
				}
			}
		}
		.graduation {
			font-size: 30px;
		}
		.secondData {
			margin-top: 35px;
			display: inline;
			.withTeacher,
			.withGroup {
				padding: 0;
				margin-top: 20px;
			}
			.commentText {
				font-size: 20px;
				margin-top: 5px;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.aboutMeMain {
		padding: 0 10px;
		.firstData {
			display: inline;
			.myPhoto {
				width: 100%;
				display: flex;
				margin: 0 auto;
			}
			span {
				.aboutMeText {
					margin-top: 20px;
					padding: 0;
					font-size: 17px;
					width: 100%;
				}
			}
		}
		.graduation {
			font-size: 22px;
		}
		.secondData {
			margin-top: 35px;
			display: inline;
			.withTeacher,
			.withGroup {
				padding: 0;
				margin-top: 20px;
			}
			.commentText {
				font-size: 16px;
				margin-top: 5px;
			}
		}
	}
}

@media screen and (max-width: 370px) {
	.aboutMeMain {
		padding: 0 10px;
		.firstData {
			display: inline;
			.myPhoto {
				width: 100%;
			}
			span {
				.aboutMeText {
					margin-top: 20px;
					padding: 0;
					font-size: 17px;
					width: 100%;
				}
			}
		}
		.graduation {
			font-size: 22px;
		}
		.secondData {
			margin-top: 35px;
			display: inline;
			.withTeacher,
			.withGroup {
				padding: 0;
				margin-top: 20px;
			}
			.commentText {
				font-size: 16px;
				margin-top: 5px;
			}
		}
	}
}

@media (min-width: 320px) and (max-width: 330px) {
	.aboutMeMain {
		padding: 0 10px;
		.firstData {
			display: inline;
			.myPhoto {
				width: 100%;
			}
			span {
				.aboutMeText {
					margin-top: 20px;
					padding: 0;
					font-size: 17px;
					width: 100%;
				}
			}
		}
		.graduation {
			font-size: 22px;
		}
		.secondData {
			margin-top: 35px;
			display: inline;
			.withTeacher,
			.withGroup {
				padding: 0;
				margin-top: 20px;
			}
			.commentText {
				font-size: 16px;
				margin-top: 5px;
			}
		}
	}
}

// FooterPage

@media screen and (max-width: 500px) {
	.footer {
		padding: 13px 0 0;
		p {
			font-size: 14px;
		}
	}
}
