* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.react-reveal.animNav {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	backdrop-filter: blur(10px);
	background-color: #000000cf;
	box-shadow: 0 5px 15px #0c0c0cde;
}

/* width */
::-webkit-scrollbar {
	width: 3px;
	height: 20% !important;
}

/* Track */
::-webkit-scrollbar-track {
	background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #03e9f4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #03e9f4;
}
